<%- include('partials/start') %>
<%- include('partials/header') %>
<section class="breadcrumb-area"></section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h1>Movies Page</h1>
                </div>
            </div>
        </div>
    </div>
</section><!-- breadcrumb area end -->
<%- include('partials/movie') %>


<%- include('partials/end') %>